@model Demo.Models.Group

<br/>>
<form method="post" asp-controller="Group" asp-action="Create">
    <div class="input-group">
        <input type="text" asp-for="Name" class="form-control"/>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>